.range-slider {
  height: 10px;
}

.range-slider .range-slider__range,
.range-slider .range-slider__thumb {
  background: #7c3aed;
}

.range-slider .range-slider__thumb {
  width: 20px;
  height: 20px;
  border: 2px solid #ffffff;
}

.range-slider .range-slider__range {
  border-radius: 6px;
}

.range-slider .range-slider__track {
  background: #ede9fe;
  border-radius: 6px;
}
